<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Car booking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/css/main.css" rel="stylesheet">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script>
    {{#if userStringified}}
      let beUser = {{{userStringified}}};
    {{else}}
      let beUser = null;
    {{/if}}

  </script>
</head>

<body>
  <header>
    <div class="text-center pt-3 pb-3">
      <img src="/images/logo_khtn.svg" alt="logo" width="100px" height="100px">
      <h5>Taxi booking app</h5>
      {{#if user}}
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Xin chào{{#if user.idNumber}} tài xế{{/if}}: {{user.lastName}} {{user.firstName}}
        </button>
        <ul class="dropdown-menu">
          {{#if user.isAdmin}}
            <li><a class="dropdown-item" href="/admin/kyc">Duyệt đăng ký</a></li>
          {{/if}}
          {{#if user.isDriver}}
            <li><a class="dropdown-item" href="/driver/rides">Lịch sử chạy</a></li>
          {{else}}
            <li><a class="dropdown-item" href="#">Lịch sử đặt xe</a></li>
          {{/if}}
          <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
        </ul>
      </div>
      {{/if}}
    </div>
  </header>
  <div class="container">
    {{{body}}}
  </div>

  <footer class="container">
    <div class="text-center pt-3 pb-3">
      <i>© 2023 - Khoa Công nghệ thông tin - Đại học Khoa học Tự nhiên, ĐHQG-HCM</i>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly&libraries=places"
    defer></script>

  <script src="/js/utils.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
</body>

</html>