<div class="kyc-view">
    {{#if rides}}
    <h4>Lịch sử đặt xe</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã chuyến</th>
                <th scope="col">Điểm đi</th>
                <th scope="col">Điểm đến</th>
                <th scope="col">Số tiền</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Đặt lúc</th>
                <th scope="col">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            {{#each rides}}
            <tr>
                <td scope="row" class="align-middle">{{@index}}</td>
                <td class="align-middle">{{id}}</td>
                <td class="align-middle">{{fromAddress}}</td>
                <td class="align-middle">{{toAddress}}</td>
                <td class="align-middle">{{amountFormatted}} VNĐ</td>
                <td class="align-middle">
                    <span class="badge status-bg-{{status}}">{{status}}</span>
                </td>
                <td class="align-middle">{{createdAtFormatted}}</td>
                <td class="align-middle">{{note}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="alert alert-primary" role="alert">
        Chưa có lịch sử đặt xe
    </div>
    {{/if}}
</div>